@{
    ViewBag.Title = "Projects Search";
}

@section Styles {
    <link href="@Url.Content("~/Content/NewStyles.css")" rel="stylesheet" type="text/css" />
}

<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div>
			<h2>Търсене по курсове през този семестър</h2>
			<div id="courses">
				<div>
					<a class="currentcourse" href="/Project/ProjectDetails">
						<span>Предмет</span>
						<span>Нещо друго</span>
					</a>
					</div>
					<div>
					<a class="currentcourse" href="/Project/ProjectDetails">
						<span>Предмет</span>
						<span>Нещо друго</span>
					</a>
					</div>
					<div>
					<a class="currentcourse" href="/Project/ProjectDetails">
						<span>Предмет</span>
						<span>Нещо друго</span>
					</a>
					</div>
				
			</div>
			
			<h2> Редултати - чрез bootstrap акордеона</h2>
		</div>
	</body>
</html>
