

<!DOCTYPE html>
<html>
	<head>
		<title>ProjectDetails</title>
	</head>
	<body>
		<div>
			<h2>Име проект</h2>
			<p>проект кратко описание проект кратко описаниепроект кратко описаниепроект кратко описаниепроект кратко описаниепроект кратко описаниепроект кратко описаниепроект кратко описаниепроект кратко описаниепроект кратко описаниепроект кратко описание</p>
			
			<h2>Решения на проекта</h2>
			<table>
				<tbody>
					<tr>
						<td>Решение 1</td>
					</tr>
					<tr>
						<td>Решение 2</td>
					</tr>
					<tr>
						<td>Решение 3</td>
					</tr>
					<tr>
						<td>Решение 4</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
