@{
    ViewBag.Title = "Welcome";
}

@section Styles {
    <link href="@Url.Content("~/Content/NewStyles.css")" rel="stylesheet" type="text/css" />
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">            
            	<div class="video">
                <iframe width="560" height="315" src="//www.youtube.com/embed/rrkrvAUbU9Y" frameborder="0" allowfullscreen></iframe>
            	</div>
            
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>Мисията</h5>
        Нашата мисия е да спомогнем за мотивацията на студенти и ученици
        да учат чрез работа над реални проекти дошли от бизнеса.
    </li>

    <li class="two">
        <h5>Начинът</h5>
        Начинът чрез който това може да се осъществи стои пред вас.
        Целта на този сайт е да представя реални проекти от фирми
        и организации, които могат да бъдат достъпни за всеки учащ.
    </li>

</ol>

<h2 id="regButton">
	<a href="#" >Регистрирайте се</a>
</h2>
