@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Index", "Users")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>

		<input type='radio' name='role' value='Student'>Student
		<input type='radio' name='role' value='Teacher'>Teacher

<p>
            <input type="submit" value="Next" />
</p>
    </fieldset>
}
