@model TrySvn.Models.CmCompanyRepresentative

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CmCompanyRepresentative</legend>

    <div class="display-label">companyRole</div>
    <div class="display-field">@Model.companyRole</div>

    <div class="display-label">user</div>
    <div class="display-field">@(Model.user == null ? "None" : Model.user.LastName)</div>

    <div class="display-label">cmCompany</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.cmCompany).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


