@model TrySvn.Models.ClUniversity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ClUniversity</legend>

    <div class="display-label">uniName</div>
    <div class="display-field">@Model.uniName</div>

    <div class="display-label">uniCity</div>
    <div class="display-field">@Model.uniCity</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


